<h1>Movie History</h1>
<div class="container">
  <div class="col-md-6 col-md-offset-3">
    <input type="text" name="omdbSearch" placeholder="Search OMDB" ng-model="omdbSearch">
      <button ng-click="dataCheck(omdbSearch)">Search</button>
  </div>

  <div class="col-md-3 col-md-offset-4">
    <button id="watched">Watched</button>

    <button id="watchList"><a ng-href="#/myMovies">Watch List</a></button>

  </div>
</div>

<div class="movieCard" ng-repeat="movie in movieArray">
 <div class="col-md-4">
  <p>{{movie.Title}}</p>
  <p>{{movie.Year}}</p>
  <img src="{{movie.Poster}}"/>
   <button ng-click="DeleteMovieArrayItem(movie.imdbID)">Add to Watch List</button>
</div>

</div>
