<h1>Movie History</h1>
<div class="container">
  <div class="col-md-6 col-md-offset-3">
    <input type="text" name="omdbSearch" placeholder="Search OMDB">
    <button>Search</button>

    <input type="text" name="Search" placeholder="Search My Movies" ng-model="searchText">
    <button ng-click="dataCheck()">Search</button>
  </div>

  <div class="col-md-3 col-md-offset-4">
    <button id="watched">Watched</button>

    <button id="watchList"><a ng-href="#/myMovies">Watch List</a></button>
  </div>
</div>

  <div class="movieCard" ng-repeat="myMovie in myMovieArray | filter: searchText">
   <div class="col-md-4">
    <p>{{myMovie.Title}}</p>
    <p>{{myMovie.Year}}</p>
    <img src="{{myMovie.Poster}}" />
    <!-- <button>Delete</button> -->
    <button ng-click="DeleteMyMovieArrayItem(myMovie.imdbID)">Delete</button>
    <label>Rating</label>
    <select>
      <option>Choose</option>
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
    </select>
  </div>

  </div>