<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <!-- <link rel="stylesheet" type="text/css" href="./lib/bower_components/bootstrap/dist/css/bootstrap.css">
   --><!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">
  <link rel="stylesheet" type="text/css" href="./css/style.css">
  <title>Document</title>
</head>
<body ng-app="MovieHistory" ng-cloak>  <!-- ask about cloak-->

  <div ng-controller="navAreaCtrl">

    <nav>
      <div class="container searchBar" ng-hide="loginStatus">
      <div class="row">
      <a ng-href="#/login" class="btn btn-default">LogOut</a>
        <div class="col m3">
          <form  class="searchbox" ng-submit="updateOMDBSearchString(omdbSearch)"><input type="text" name="omdbSearch" placeholder="Search OMDB" ng-model="omdbSearch" ng-focus="changeLocation()" >
            </form>
        
        </div>
          <a ng-href="#/watched" class="btn btn-default" ng-hide="watchedMovieArrayEmpty">Watched List</a>
          <a ng-href="#/myMovies" class="btn btn-default" ng-hide="myMovieArrayEmpty">To Watch List</a>
          <div class="col m3">
          <input type="text" name="movieSearch" placeholder="Search MyMovies" ng-hide="!hideShowMovieSearch" ng-model="movieSearch" ng-change="changingText(movieSearch)">
          </div>
        </div>
      </div>
    </nav>
    <div>
      <h1>{{pageTitle}}</h1>
    </div>
  </div>

  <div ng-view></div>

 

 
          



  <script type="text/javascript" src="./lib/bower_components/jquery/dist/jquery.js"></script>
  <!-- <script type="text/javascript" src="./lib/bower_components/bootstrap/dist/js/bootstrap.js"></script> -->
   <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>
  <script type="text/javascript" src="./lib/bower_components/angular/angular.js"></script>
  <script type="text/javascript" src="./lib/bower_components/angular-route/angular-route.js"></script>
  <script type="text/javascript" src="./lib/bower_components/firebase/firebase.js"></script>
  <script type="text/javascript" src="./lib/bower_components/angularfire/dist/angularfire.js"></script>
  <script type="text/javascript" src="./app/app.js"></script>
  <script type="text/javascript" src="./app/factories/AuthFactory.js"></script>
  <script type="text/javascript" src="./app/factories/OMDBFactory.js"></script>
  <script type="text/javascript" src="./app/factories/FirebaseFactory.js"></script>
  <script type="text/javascript" src="./app/factories/NavFactory.js"></script>
  <script type="text/javascript" src="./app/controllers/navAreaCtrl.js"></script>
  <script type="text/javascript" src="./app/controllers/LoginCtrl.js"></script>
  <script type="text/javascript" src="./app/controllers/OMDBSearchCtrl.js"></script>
  <script type="text/javascript" src="./app/controllers/WatchedCtrl.js"></script>
  <script type="text/javascript" src="./app/controllers/myMovieCtrl.js"></script>
</body>
</html>